/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} 
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Clearfix */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* Base */
body {
	font:16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: #777;
}

p {
  font-family: "Montserrat",Arial,Helvetica,sans-serif;
}

#wrapper {
	padding: 100px 40px;
	max-width: 500px;
	margin: 0 auto;
}

#header {
	border-bottom: 1px solid #eee;
	margin-bottom: 40px;
	padding-bottom: 40px;
	text-align: center;
	position: relative;
}

#avatar {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-bottom: 20px;
}

/* Link to Documentation */
#docs {
	position: fixed; 
	top: 8px; 
	right: 6px;
	background: #5badf0; 
	color: #fff;
	padding: 8px 12px;
	font-size: 13px; 
	font-weight: bold; 
	line-height: 1.35;
	border-radius: 3px; 
	z-index: 100;
}

/* Made with Cactus Badge */
#badge {
	position: absolute; 
	bottom: 8px; 
	right: 8px;
	height: 48px; 
	width: 48px;
}

/* Type */
/* Accent color */
a {
	text-decoration: none;
	color: #5694f1;
	font-weight: 400;
}

h1 {
  font-family:"Montserrat",Arial,Helvetica,sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #222;
}

h2 {
	font-size: 20px;
	font-weight: 300;
	color: #aaa; 
	margin-top: 10px;
}

p {
	line-height: 1.8;
	 margin-bottom: 30px;
	 font-size: 16px;
}

@media screen and (max-width: 540px) {
	#wrapper { padding:40px; }
	#header { margin-bottom: 40px; }
	#docs { display: none; }
}

@media screen and (max-width:440px) {
	#wrapper { padding:20px; }
	#header { margin-bottom: 20px; }
}


/***** CUSTOM CSSS *****/

.btn-pink {
  background:none;
  border-radius:30px !important;
  border:3px solid #ee3d6e !important;
  padding-right:20px !important;
  padding-left:20px !important;
  color: #ee3d6e !important;
}

.btn-pink:hover {
  background:#ee3d6e !important; 
  color: #fff !important;
  border:3px solid #ee3d6e !important;
}

.btn-fitbit {
  background:none;
  border-radius:30px !important;
  border:3px solid #fff !important;
  padding-right:20px !important;
  padding-left:20px !important;
}

.btn-fitbit:focus {
  color:rgba(255,255,255, 0.8) !important;
  border:3px solid rgba(255,255,255,0.8) !important;
}

.btn-fitbit:hover {
  color:rgba(255,255,255, 0.8) !important;
  border:3px solid rgba(255,255,255,0.8) !important;
}
.cover-container{
	text-align:center;
}

.cover-container-slides{
	position:absolute;
	width:100%;
	z-index:2;
	top:12.5%;
	text-align:center;
}

.hidden_transition {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.25s, opacity 0.25s linear;
}
.visible_transition {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s 1.5s, opacity 1.5s linear;
  }

.section_10 {
  background: url('/static/images/slide_10_background.jpeg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.section_20 {
  background: url('/static/images/slide_20_background.jpeg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slide_20_lead {
  font-size:2.8rem !important;
}

.section_40, .section_100 {
	background:#fff;
  color:black;
}

.section_40 h1 {
  color:black;
}

.section_100 h1 {
  color:black;
}

.logo_image {
  margin-right:15px;
}
.main-heading {
  font-size:7rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}
.heading {
  font-size:6rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}
.lead {
  font-size: 1.6rem;
}
.lead-subheading {
  text-transform: uppercase;
  font-weight:700 !important;
}

.lead-link {
  color:#fff;
  text-transform: uppercase;
  font-weight:700 !important;
}

.watches_subheading {
  margin-top:100px;
}

.heading_logo {
  margin-bottom:20px;
}

.black_logo {
  max-width:217px;
}

.first_heading_logo { 
  display:none;
  margin-bottom:20px;
}

.static_heading_logo {
  display:block;
  position:fixed;
  top:25%;
  left:50%;
  margin-top:-31px;
  margin-left:-115px;
  z-index:1;
}

.fitbit_features {
  color: #4ac1c0;
}

.slide_20_action_images {
  padding-top:80px;
}

.section_50 {
	background:#477287;
}

.section_60 {
	background:#18353b;
}

.section_70 {
	background:#3497a0;
}

.section_80 {
	background:#3bafb0;
}

.section_90 {
	background:#97cdcd;
}

.carousel_section_50 {
  height:100%;
  background:#477287;
}

.carousel_section_60 {
  height:100%;
  background:#18353b;
}

.carousel_section_70 {
  height:100%;
  background:#3497a0;
}

.carousel_section_80 {
  height:100%;
  background:#3bafb0;
}

.carousel_section_90 {
  height:100%;
  background:#97cdcd;
}

.slide_icons {
  background: url('/static/images/slide_30_slider_circles.png' ) no-repeat;
  width:710px !important;
  height:117px;
  top:300px !important;
  margin-left:-10px;
  position:absolute;
}

.slide_icon_run {
  background: url('/static/images/running_sprite.png' ) no-repeat;
  width:102px;
  top:8px;
  left:8px;
  position:absolute;
  height:102px;
  background-position:0 0;
}

.slide_icon_run:hover, .slide_icon_run:active{
  background-position:0 100%;
}

.slide_icon_monitor{
  background: url('/static/images/monitor_sprite.png' ) no-repeat 0 0;
  width:102px;
  height:102px;
  top:8px;
  left:306px;
  position:absolute;
}
.slide_icon_trophy {
  background: url('/static/images/trophy_sprite.png' ) no-repeat 0 0;
  width:102px;
  height:102px;
  top:8px;
  left:452px;
  position:absolute;
}
.slide_icon_people {
  background: url('/static/images/people_sprite.png' ) no-repeat 0 0;
  width:102px;
  height:102px;
  top:8px;
  left:600px;
  position:absolute;
}
.slide_icon_wave:hover, .slide_icon_wave:active {
  background-position:0 100%;
}

.slide_icon_wave .active {
  background-position:0 100%;
}
.slide_icon_monitor:hover, .slide_icon_monitor:active {
  background-position:0 100%;
}
.slide_icon_trophy:hover, .slide_icon_trophy:active {
  background-position:0 100%;
}
.slide_icon_people:hover, .slide_icon_people:active {
  background-position:0 100%;
}

.slide_icon_wave {
  background: url('/static/images/waves_sprite.png' ) no-repeat 0 0;
  width:102px;
  height:102px;
  top:8px;
  left:156px;
  position:absolute;
}

.slide_30_10 {
  width:100%;
  height:100%;
  background: url('/static/images/slide_30_10.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slide_30_20 {
  width:100%;
  height:100%;
  background: url('/static/images/slide_30_20.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slide_30_30 {
  width:100%;
  height:100%;
  background: url('/static/images/slide_30_30.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slide_30_40 {
  width:100%;
  height:100%;
  background: url('/static/images/slide_30_40.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slide_30_50 {
  width:100%;
  height:100%;
  background: url('/static/images/slide_30_50.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/** WATCHES **/
.watch_1 {
  left:-10.5%;
  top:2.5%;
  position:absolute;
}

.watch_2 {
  top:-2.5%;
  left:17%;
  width:140px;
  position:absolute;
}

.watch_3 {
  top:45.5%;
  left:-1%;
  position:absolute;
}

.watch_4 {
  position:absolute;
  right:10%;
  top:5%;
}

.watch_5 {
  position:absolute;
  top:-2.5%;
  right:-1%;
}

.watch_6 {
  position: absolute;
  right:-5%;
  top:40.5%;
}

.scale_1 {
  position:absolute;
  left:17.5%;
  top:67.5%;
  width:65%;
}

.shoes {
  width:30%;
  display:inline-block !important;
  margin:0 13px;
}

.shoe_left {
  left:-5%;
}
.shoe_middle {
  display:inline-block;
  left:36.5%%;
}
.shoe_right {
  right: -5%;
}

.phones {
  max-height:450px;
}

/** Awards **/

.awards {
  position:absolute;
}

.awards img {
  width:110%;
}

.awards {
  top:0;
}

.award_self {
  background: url( '/static/images/white_line.png' ) repeat-y top center transparent;
  height:200px;
  top:12%;
  left:-2%;
}

.award_banner_self {
  margin-left:-6px;
}

.award_tech_crunch {
  background: url( '/static/images/white_ling.png' ) repeat-y top center transparent;
  height:350px;
}

.award_people {
   background: url( '/static/images/white_ling.png' ) repeat-y top center transparent;
   height:200px;
}

.award_wall_street {
  background: url( '/static/images/white_line.png' ) repeat-y top center transparent;
  height:100px;
}

.award_fast_company{
  background: url( '/static/images/white_ling.png' ) repeat-y top center transparent;
  height:300px;
}

.award_today {
 background: url( '/static/images/white_ling.png' ) repeat-y top center transparent;
 height:150px;
}

.award_vogue{
 background: url( '/static/images/white_ling.png' ) repeat-y top center transparent;
 height:275px;
}

.award_usa_today {
 background: url( '/static/images/white_line.png' ) repeat-y top center transparent;
 height:150px;
}

.awards_tech_crunch { 
  left:8%;
}

.awards_people {
  left:20%;
}

.awards_wall_street {
  left:32.5%;
}

.awards_fast_company {
  left:46%;
}

.awards_today {
  left:65%;
}

.awards_vogue {
  left:75%;
}

.awards_usa_today {
  left:90%;
}

/** Badges **/
.badges {
  position:absolute;
}

.badge_bridge {
  bottom:-5%;
  left:-5%;
}

.badge_shoe {
  top:10%;
  left:25%;
}

.badge_helicopter {
  left:60%;
  bottom:0%;
}

.badge_heart {
  right:-3%;
  top:23%;
}

.badge_smile {
  top:9%;
  left:65%;
}

.absolute_slide {
  position:absolute;
  top:12.5%;
  width:100%;
}
.absolute_heading {
  margin-bottom:130px;
}
.slide_content {
  z-index:99;
}

.all_product_items {
  max-width:1027px;
  width:100%;
}
#tech_crunch {
  -webkit-animation-delay: 0.05s;
}
#people{
  -webkit-animation-delay: 0.15s;
}
#wall_street{
  -webkit-animation-delay: 0.25s;
}
#fast_company{
  -webkit-animation-delay: 0.35s;
}
#today{
  -webkit-animation-delay: 0.45s;
}
#vogue{
  -webkit-animation-delay: 0.55s;
}
#usa_today{
  -webkit-animation-delay: 0.65s;
}

.accolades_row {
  margin-top:25%;
}

.carousel_text {
  display:none;
  margin-left:-35px;
  width:175%;
}

.arousel-control.right {
  background-image:none !important;
}
.carousel-control.left {
  background-image:none !important;
}

.carousel_title {
  margin-top:120px;
  text-transform: uppercase;
  font-weight:700;
}

.carousel-indicators {
  left:33% !important;
}
.carousel-indicators .active {
  width:102px !important;
  height:102px !important;
  background-position: 0 100%;
  background-color: transparent !important;
}

.carousel-indicators .active .carousel_text {
  display:block;
}
.main-carousel-indicators {
  top:37.5%;
  z-index:3;
}
.main-example-carousel-inner {
  height: 100%;
}
.main-carousel-inner {
  width:100% !important;
  height:100%;
  overflow:visible !important;
}

@media (max-width: 768px) {
  .main-heading {
    margin-top:10px;
    font-size:3em;
    line-height: 1;
  }

  .slide_content {
    margin-top:0;
  }

  .absolute_slide {
    top:0;
  }
  .absolute_heading {
    margin-bottom:20px;
  }

  .lead {
    font-size:1.6rem !important;
  }

  .slide_20_lead {
    margin-top:20px;
  }
  .watches {
    width:33%;
  }
  .slide_20_icons {
    width:150%;
  }

  .shoes {
    width:25%;
  }

  .carousel-inner {
    height:100%;
  }

  .carousel_section_50 h1 {
    font-size:1.8em !important;
    line-height: 1;
  }

  .carousel_section_60 h1 {
    font-size:1.8em !important;
    line-height: 1;
  }

  .carousel_section_70 h1 {
    font-size:1.8em !important;
    line-height: 1;
  }

  .carousel_section_80 h1 {
    font-size:1.8em !important;
    line-height: 1;
  }
  
  .carousel_section_90 h1 {
    font-size:1.8em !important;
    line-height: 1;
  }

  .carousel_section_50 {
    padding-top:25%;
    height:100%;
  }

  .carousel_section_80 {
    padding-top:65%;
    height:100%;
  }

  .carousel_section_90 {
    padding-top:35%;
    height:100%;
  }

  .carousel_section_60, .section_70 {
    padding-top:12.5%;
    height:100%;
  }

  .accolades_row {
    margin-top:0;
  }

  .badges {
    width:33%;
  }

  .badge_smile {
    top:3%;
  }

  .badge_shoe {
    top:-3%;
  }

  .phones {
    width:100%;
  }
  .heading_logo {
    width:115px;
    margin-bottom:0;
  }

  .logo_image {
    width:28px;
    margin-right:0;
  }

  .product_logo {
    width:100%;
  }
  .manifesto {
    margin-top:100px;
  }
  .meet_icons {
    margin-left:7px;
  }
  .carousel-main-small{
    height:100%;
  }
  .main-small-carousel-inner {
    height:100%;
  }

  .small_circle {
    list-style: none;
  }
  .scale_1 {
    display:none;
  }
  .static_circle {
    top:-8px;
    left:-8px;
    width:117px;
    height:117px;
    z-index:1;
    position:absolute;
  }
  .slide_icon_run_small {
    background: url('/static/images/running_sprite.png' ) no-repeat;
    width:102px;
    top:45.5%;
    left:34%;
    position:absolute;
    height:102px;
    background-position:0 100%;
  }
  .slide_icon_wave_small {
    background: url('/static/images/waves_sprite.png' ) no-repeat;
    width:102px;
    top:45.5%;
    left:34%;
    position:absolute;
    height:102px;
    background-position:0 100%;
  }
  .slide_icon_monitor_small {
    background: url('/static/images/monitor_sprite.png' ) no-repeat;
    width:102px;
    top:45.5%;
    left:34%;
    position:absolute;
    height:102px;
    background-position:0 100%;
  }
  .slide_icon_trophy_small {
    background: url('/static/images/trophy_sprite.png' ) no-repeat;
    width:102px;
    top:45.5%;
    left:34%;
    position:absolute;
    height:102px;
    background-position:0 100%;
  }
  .slide_icon_people_small {
    background: url('/static/images/people_sprite.png' ) no-repeat;
    width:102px;
    top:45.5%;
    left:34%;
    position:absolute;
    height:102px;
    background-position:0 100%;
  }
  .carousel_title {
    text-align: center
  }

  .carousel_text {
    display:block;
    margin-left:-35px;
    text-align: center;
    line-height: 1.2 !important;
  }
  .awards {
    position:absolute;
  }

  .awards img {
    width:110%;
  }

  .awards {
    top:0;
  }
  .award_banner {
    width:50%;
  }

  .award_self {
    background: url( '/static/images/white_line.png' ) repeat-y top center transparent;
    height:25px;
    top:12%;
    width:50%;
    left:-2%;
  }

  .award_banner_self {
    margin-left:-6px;
  }

  .award_tech_crunch {
    background: url( '/static/images/white_ling.png' ) repeat-y top center transparent;
    width:50%;
    height:150px;
  }

  .award_people {
     background: url( '/static/images/white_ling.png' ) repeat-y top center transparent;
    width:50%;
     height:75px;
  }

  .award_wall_street {
    background: url( '/static/images/white_line.png' ) repeat-y top center transparent;
    width:50%;
    height:10px;
  }

  .award_fast_company{
    background: url( '/static/images/white_ling.png' ) repeat-y top center transparent;
    width:50%;
    height:166px;
  }

  .award_today {
   background: url( '/static/images/white_ling.png' ) repeat-y top center transparent;
    width:50%;
   height:50px;
  }

  .award_vogue{
   background: url( '/static/images/white_ling.png' ) repeat-y top center transparent;
    width:50%;
   height:105px;
   margin-bottom:-7px;
  }

  .award_usa_today {
   background: url( '/static/images/white_line.png' ) repeat-y top center transparent;
   display:none;
    width:50%;
   height:50px;
  }

  .awards_tech_crunch { 
    left:3%;
  }

  .awards_people {
    left:22.5%;
  }

  .awards_wall_street {
    left:42.5%;
  }

  .awards_fast_company {
    left:56%;
  }

  .awards_today {
    left:75%;
  }

  .awards_vogue {
    left:90%;
  }

  .awards_usa_today {
    display:none;
    left:90%;
  }

  .watch_1 {
    z-index:1;
    top:12%;
    left:3%;
    width:45%;
  }

  .watch_3 {
    top:75%;
  }

  .watch_2 {
    width:15%;
    left:37%;
  }

  .watch_4 {
    top:18%;
  }
  .watch_5 {
    left:65%;
    width:20%;
  }

  .watch_6 {
    top:68%;
    width:47%;
  }

  .slide_40_0 {
    top:33%;
  }

  .slide_100_0 {
    margin-top:-100px;
  }

  .slide_100_0 .lead {
    margin-top:20px;
  }

  .watches_subheading {
    margin-top:15px;
  }
}
.carousel-indicators {
  bottom:0 !important;
}

.carousel-small {
  height:100%;
}

.carousel-inner > .item {
  z-index:5;
}

.carousel-control {
  z-index:6;
}

.carousel {
  height:100%;
}

.slide_30_0 {
  z-index:5;
}

.product_one {
/*  position:absolute;
  top:10%;
  left:20%;
*/  width:20px;
}

.product_two {
/*  position:absolute;
  top:10%;
  left:23%;
*/  width:35px;
}

.product_three {
/*  position:absolute;
  top:11%;
  left:29%;
*/  width:45px;
}

.product_four {
  width:85px;
/*  position:absolute;
  top:12%;
  left:35%;
*/}

.product_five {
  width:120px;
/*  position:absolute;
  top:15%;
  left:49%;
*/}
.product_six {
  width:160px;
  /*position:absolute;*/
}

.product_seven {
  width:210px;
  margin-top:20px;
  /*  position:absolute;
    top:18%;
    left:63%;
*/}

.cheer {
  position:absolute;
  left:50%;
  margin-top:58px;
  margin-left:-95px;
  background:rgba(128, 211, 211, 0.5);
  width:181px;
  height:308px;
}

.cheer-box {
  position:absolute;
  width:112px;
  top:68px;
  margin-left:30px;
  background: rgba(0,0,0,0.8);
  border-radius: 5px;
  padding:10px;
  font-weight: 700;
}
