/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} 
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Clearfix */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* Base */
body {
	font:16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: #777;
}

p {
  font-family: "Montserrat",Arial,Helvetica,sans-serif;
}

#wrapper {
	padding: 100px 40px;
	max-width: 500px;
	margin: 0 auto;
}

#header {
	border-bottom: 1px solid #eee;
	margin-bottom: 40px;
	padding-bottom: 40px;
	text-align: center;
	position: relative;
}

#avatar {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-bottom: 20px;
}

/* Link to Documentation */
#docs {
	position: fixed; 
	top: 8px; 
	right: 6px;
	background: #5badf0; 
	color: #fff;
	padding: 8px 12px;
	font-size: 13px; 
	font-weight: bold; 
	line-height: 1.35;
	border-radius: 3px; 
	z-index: 100;
}

/* Made with Cactus Badge */
#badge {
	position: absolute; 
	bottom: 8px; 
	right: 8px;
	height: 48px; 
	width: 48px;
}

/* Type */
/* Accent color */
a {
	text-decoration: none;
	color: #5694f1;
	font-weight: 400;
}

h1 {
  font-family:"Montserrat",Arial,Helvetica,sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #222;
}

h2 {
	font-size: 20px;
	font-weight: 300;
	color: #aaa; 
	margin-top: 10px;
}

p {
	line-height: 1.8;
	 margin-bottom: 30px;
	 font-size: 16px;
}

@media screen and (max-width: 540px) {
	#wrapper { padding:40px; }
	#header { margin-bottom: 40px; }
	#docs { display: none; }
}

@media screen and (max-width:440px) {
	#wrapper { padding:20px; }
	#header { margin-bottom: 20px; }
}


/***** CUSTOM CSSS *****/

.btn-pink {
  background:none;
  border-radius:30px !important;
  border:3px solid #ee3d6e !important;
  padding-right:20px !important;
  padding-left:20px !important;
  color: #ee3d6e !important;
}

.btn-pink:hover {
  background:#ee3d6e !important; 
  color: #fff !important;
  border:3px solid #ee3d6e !important;
}

.btn-fitbit {
  background:none;
  border-radius:30px !important;
  border:3px solid #fff !important;
  padding-right:20px !important;
  padding-left:20px !important;
}

.btn-fitbit:focus {
  color:rgba(255,255,255, 0.8) !important;
  border:3px solid rgba(255,255,255,0.8) !important;
}

.btn-fitbit:hover {
  color:rgba(255,255,255, 0.8) !important;
  border:3px solid rgba(255,255,255,0.8) !important;
}
.cover-container{
	text-align:center;
}

.cover-container-slides{
	position:absolute;
	width:100%;
	z-index:2;
	margin-top:20%;
	text-align:center;
}

.section_10 {
  background: url('/static/images/slide_10_background.jpeg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.section_20 {
  background: url('/static/images/slide_20_background.jpeg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section_40, .section_100 {
	background:#fff;
  color:black;
}

.section_40 h1 {
  color:black;
}

.section_100 h1 {
  color:black;
}

.logo_image {
  margin-right:15px;
}
.main-heading {
  font-size:7rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}
.heading {
  font-size:6rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}
.lead {
  font-size: 1.6rem !important;
}
.lead-subheading {
  text-transform: uppercase;
  font-weight:700 !important;
}

.lead-link {
  color:#fff;
  text-transform: uppercase;
  font-weight:700 !important;
}

.heading_logo {
  margin-bottom:20px;
}

.section_50 {
	background:#477287;
}

.section_60 {
	background:#18353b;
}

.section_70 {
	background:#3497a0;
}

.section_80 {
	background:#3bafb0;
}

.section_90 {
	background:#97cdcd;
}

.slide_30_10 {
  background: url('/static/images/slide_30_10.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slide_30_20 {
  background: url('/static/images/slide_30_20.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slide_30_30 {
  background: url('/static/images/slide_30_30.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slide_30_40 {
  background: url('/static/images/slide_30_40.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slide_30_50 {
  background: url('/static/images/slide_30_50.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/** WATCHES **/
.watch_1 {
  left:-10.5%;
  top:2.5%;
  position:absolute;
}

.watch_2 {
  top:-2.5%;
  left:17%;
  width:140px;
  position:absolute;
}

.watch_3 {
  top:45.5%;
  left:-1%;
  position:absolute;
}

.watch_4 {
  position:absolute;
  right:10%;
  top:5%;
}

.watch_5 {
  position:absolute;
  top:-2.5%;
  right:-1%;
}

.watch_6 {
  position: absolute;
  right:-5%;
  top:40.5%;
}

.scale_1 {
  position:absolute;
  left:17.5%;
  top:67.5%;
  width:65%;
}

.shoes {
  width:30%;
}

.shoe_left {
  left:-5%;
}
.shoe_middle {
  left:36.5%%;
}
.shoe_right {
  right: -5%;
}

.phones {
  max-height:450px;
}

/** Awards **/

.awards {
  position:absolute;
}

.awards img {
  width:110%;
}
.award_self {
  top:12%;
  left:-2%;
}
.award_tech_crunch {
  top:40%;
  left:5%;
}

.award_people {
  top:22%;
  left:20%;
}

.award_wall_street {
  top:5%;
  left:35%;
}

.award_fast_company {
  top:30%;
  left:46%;
}

.award_today {
  top:12%;
  left:65%;
}

.award_vogue {
  top:39%;
  left:75%;
}

.award_usa_today {
  top:20%;
  left:90%;
}

/** Badges **/
.badges {
  position:absolute;
}

.badge_bridge {
  bottom:-5%;
  left:-5%;
}

.badge_shoe {
  top:10%;
  left:25%;
}

.badge_helicopter {
  left:60%;
  bottom:0%;
}

.badge_heart {
  right:-3%;
  top:23%;
}

.badge_smile {
  top:9%;
  left:65%;
}

.slide_content {
  z-index:99;
}