{% extends "base.html" %}
{% block content %}

<div id="fullpage" class="fullpage">
	<video autoplay loop muted id="fitbit">
	  <source src="/static/images/fitbit4.mp4" type="video/mp4">
	</video>
	<div class="section section_10">
		{% include "slide_10.html" %}
	</div>
	<div class="section section_15">
		{% include "slide_15.html" %}
	</div>
	<div class="section section_20">
		{% include "slide_20.html" %}
	</div>
	<div class="section">
		{% include "slide_30.html" %}
	</div>
	<div class="section section_40">
		{% include "slide_40.html" %}
	</div>
	<div class="section section_50" id='section_50'>
		{% include "slide_50.html" %}
	</div>
	<div class="section section_60" id='section_60'>
		{% include "slide_60.html" %}
	</div>
	<div class="section section_70" id='section_70'>
		{% include "slide_70.html" %}
	</div>
	<div class="section section_80" id='section_80'>
		{% include "slide_80.html" %}
	</div>
	<div class="section section_90" id='section_90'>
		{% include "slide_90.html" %}
	</div>
	<div class="section section_100">
		{% include "slide_100.html" %}
	</div>
	<div id="section_55" class="section section_55">
		{% include "slide_55.html" %}
	</div>
</div>

{% endblock content %}
