<div class="accolades">
  <div class="awards award_self" id="self">
    <div class="award_banner">
      <img src="/static/images/self.png" />
    </div>
  </div>
  <div class="awards award_tech_crunch" id="tech_crunch">
    <div class="award_banner">
      <img src="/static/images/tech_crunch.png" />
    </div>
  </div>
  <div class="awards award_people" id="people">
    <div class="award_banner">
      <img src="/static/images/people.png" />
    </div>
  </div>
  <div class="awards award_wall_street" id="wall_street">
    <div class="award_banner">
      <img src="/static/images/wall-street_journal.png" />
    </div>
  </div>
  <div class="awards award_fast_company" id="fast_company">
    <div class="award_banner">
      <img src="/static/images/fast_company.png" />
    </div>
  </div>
  <div class="awards award_today" id="today">
    <div class="award_banner">
      <img src="/static/images/today.png" />
    </div>
  </div>
  <div class="awards award_vogue" id="vogue">
    <div class="award_banner">
      <img src="/static/images/vogue.png" />
    </div>
  </div>
  <div class="awards award_usa_today" id="usa_today">
    <div class="award_banner">
      <img src="/static/images/usa_today.png" />
    </div>
  </div>
</div>
<div class="cover-container">
  <div class="inner cover">
    <h1 class="">Learn about our award-winners.
      Or, just wear them.</h1>
    <p class="lead">For seven years we’ve dedicated ourselves to designing devices you’d want to wear and an app you’d love to use. It’s the only thing we do. And we’re really good at it. Don’t take our word for it. Take theirs.</p>
    <a href="#" class="lead-subheading">Browse the Buzz</a>
  </div>
</div>
