<div class="cover-container">
  <div class="inner cover">
<!--     <img data-sr="enter left, move 300px, roll 135deg, over 0.75s" src="/static/images/phone_left.png" class="phones shoe_left" />
    <img data-sr="enter top, move 300px, over 0.75s" src="/static/images/phone_middle.png" class="phones shoe_middle"  />
    <img data-sr="enter right, move 300px, roll 270deg, over 0.75s" src="/static/images/phone_right.png" class="phones shoe_right"  />
 -->    <div class="row">
      <div class="col-xs-4">
        <img data-sr="enter left, move 300px, roll 135deg, over 0.75s" src="/static/images/phone_left.png" class="phones shoe_left" />
      </div>
      <div class="col-xs-4">
        <img data-sr="enter top, move 300px, over 0.75s" src="/static/images/phone_middle.png" class="phones shoe_middle"  />
      </div>
      <div class="col-xs-4">
        <img data-sr="enter right, move 300px, roll 270deg, over 0.75s" src="/static/images/phone_right.png" class="phones shoe_right"  />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 slide_content">
        <h1 class="">Fitness is more fun with friends and family.<br> Lucky for you, all yours are on Fitbit.</h1>
        <p class="lead">Fitbit is accessible on 120+ phones, including Android, iOS and Windows—more than any other tracker. Now you can connect, share and compete when you want, with anyone you want.</p>
        <a href="#" class="lead-link">Explore the App <img src="/static/images/link_arrow.png" /></a>
      </div>
    </div>
  </div>
</div>
