<div class="cover-container">
  <div class="inner cover">
    <h1 class="">Why fitbit</h1>
    <p class="lead lead-subheading">UNBEATABLE TECHNOLOGY, THE LARGEST FITNESS COMMUNITY & A FAMILY OF PRODUCTS FIT FOR EVERYONE.</p>
  </div>
</div>
<img src="/static/images/watch_1.png" class="watches watch_1" />
<img src="/static/images/watch_2.png" class="watches watch_2" />
<img src="/static/images/watch_3.png" class="watches watch_3" />
<img src="/static/images/watch_4.png" class="watches watch_4" />
<img src="/static/images/watch_5.png" class="watches watch_5" />
<img src="/static/images/watch_6.png" class="watches watch_6" />
<img src="/static/images/large_scale.png" class="watches scale_1" />
