
<div class="cover-container">
  <div class="inner cover">
    <img data-sr='enter top, move 300px, over 1.3s' src="/static/images/far_left_shoe.png" class="shoes shoe_left" />
    <img data-sr='enter top, move 300px, over 1.3s, wait 0.25s' src="/static/images/middle_shoe.png" class="shoes shoe_middle"  />
    <img data-sr='enter top, move 300px, over 1.3s, wait 0.5s' src="/static/images/far_right_shoe.png" class="shoes shoe_right"  />
    <img data-sr='enter bottom, move 100px, over 1.3s' src="/static/images/shoe_shadow.png" class="shoes shoe_left" />
    <img data-sr='enter bottom, move 100px, over 1.3s, wait 0.25s' src="/static/images/shoe_shadow.png" class="shoes shoe_middle"  />
    <img data-sr='enter bottom, move 100px, over 1.3s, wait 0.5s' src="/static/images/shoe_shadow.png" class="shoes shoe_right"  />
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 slide_content">
        <h1 class="">Only Fitbit gives you the freedom to get fit your way.</h1>
        <p class="lead">Everyone’s approach to fitness is different. One-size-fits-all doesn’t always fit you. That’s why we created a family of products that work seamlessly with each other, your budget, your favorite apps and your goals.</p>
        <a href="#" class="lead-link">Meet the family <img src="/static/images/link_arrow.png" /></a>
      </div>
    </div>
  </div>
</div>
