<div class="cover-container">
  <div class="inner cover">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 slide_content">
        <h1 class="heading">Buy</h1>
        <img src="/static/images/fitbit_logo.png" class="heading_logo" />
        <p class="lead lead-subheading">No matter what you came here looking for,<br>
    fitbit goes with everything.</p>
      </div>
    </div>
    <img src="/static/images/all_products_final.png" />
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 slide_content">
        <button type="button" class="btn btn-pink lead-subheading">Compare All Products</button>
      </div>
    </div>
  </div>
</div>
