<div class="accolades hidden-xs">
  <div class="awards awards_self hidden" id="self">
    <div class="award_self">
    </div>
    <div class="award_banner">
      <img id="" class="award_banner_self" src="/static/images/self.png" />
    </div>
  </div>
  <div class="awards awards_tech_crunch hidden" id="tech_crunch">
    <div class="award_tech_crunch">
    </div>
    <div class="award_banner">
      <img class="" id="" src="/static/images/tech_crunch.png" />
    </div>
  </div>
  <div class="awards awards_people hidden" id="people">
    <div class="award_people">
    </div>
    <div class="award_banner">
      <img class="" src="/static/images/people.png" />
    </div>
  </div>
  <div class="awards awards_wall_street hidden" id="wall_street">
    <div class="award_wall_street">
    </div>
    <div class="award_banner">
      <img class="" id="" src="/static/images/wall-street_journal.png" />
    </div>
  </div>
  <div class="awards awards_fast_company hidden" id="fast_company">
    <div class="award_fast_company">
    </div>
    <div class="award_banner">
      <img class="" id="" src="/static/images/fast_company.png" />
    </div>
  </div>
  <div class="awards awards_today hidden" id="today">
    <div class="award_today">
    </div>
    <div class="award_banner">
      <img class="" id="" src="/static/images/today.png" />
    </div>
  </div>
  <div class="awards awards_vogue hidden" id="vogue">
    <div class="award_vogue">
    </div>
    <div class="award_banner">
      <img class="" id="" src="/static/images/vogue.png" />
    </div>
  </div>
  <div class="awards awards_usa_today hidden" id="usa_today">
    <div class="award_usa_today">
    </div>
    <div class="award_banner">
      <img class="" id="" src="/static/images/usa_today.png" />
    </div>
  </div>
</div>
<div class="accolades hidden">
  <div class="awards awards_self" id="self">
    <div class="award_self">
    </div>
    <div class="award_banner">
      <img id="" class="award_banner_self" src="/static/images/self.png" />
    </div>
  </div>
  <div class="awards awards_tech_crunch" id="tech_crunch">
    <div class="award_tech_crunch">
    </div>
    <div class="award_banner">
      <img class="" id="" src="/static/images/tech_crunch.png" />
    </div>
  </div>
  <div class="awards awards_people" id="people">
    <div class="award_people">
    </div>
    <div class="award_banner">
      <img class="" src="/static/images/people.png" />
    </div>
  </div>
  <div class="awards awards_wall_street" id="wall_street">
    <div class="award_wall_street">
    </div>
    <div class="award_banner">
      <img class="" id="" src="/static/images/wall-street_journal.png" />
    </div>
  </div>
  <div class="awards awards_fast_company" id="fast_company">
    <div class="award_fast_company">
    </div>
    <div class="award_banner">
      <img class="" id="" src="/static/images/fast_company.png" />
    </div>
  </div>
  <div class="awards awards_today" id="today">
    <div class="award_today">
    </div>
    <div class="award_banner">
      <img class="" id="" src="/static/images/today.png" />
    </div>
  </div>
  <div class="awards awards_vogue" id="vogue">
    <div class="award_vogue">
    </div>
    <div class="award_banner">
      <img class="" id="" src="/static/images/vogue.png" />
    </div>
  </div>
  <div class="awards awards_usa_today" id="usa_today">
    <div class="award_usa_today">
    </div>
    <div class="award_banner">
      <img class="" id="" src="/static/images/usa_today.png" />
    </div>
  </div>
</div>
<div class="cover-container">
  <div class="inner cover">
    <div class="row accolades_row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 slide_content">
        <h1 class="">Learn about our award-winners.<br>
          Or, just wear them.</h1>
        <p class="lead">For seven years we’ve dedicated ourselves to designing devices you’d want to wear and an app you’d love to use. It’s the only thing we do. And we’re really good at it. Don’t take our word for it. Take theirs.</p>
        <a href="#" class="lead-link">Browse the Buzz <img src="/static/images/link_arrow.png" /></a>
      </div>
    </div>
  </div>
</div>
