<div class="cover-container">
  <div class="inner cover">
    <img src="/static/images/phone_left.png" class="phones shoe_left" />
    <img src="/static/images/phone_middle.png" class="phones shoe_middle"  />
    <img src="/static/images/phone_right.png" class="phones shoe_right"  />
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 slide_content">
        <h1 class="">Fitness is more fun with friends and family. Lucky for you, all yours are on Fitbit.</h1>
        <p class="lead">Fitbit is accessible on 120+ phones, including Android, iOS and Windows—more than any other tracker. Now you can connect, share and compete when you want, with anyone you want.</p>
        <a href="#" class="lead-link">Explore the App <img src="/static/images/link_arrow.png" /></a>
      </div>
    </div>
  </div>
</div>
