<div class="cover-container">
  <div class="inner cover">
    <img src="/static/images/all_product_items.png" class="all_product_items" />
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 slide_content">
        <h1 class="">We have a history of inventing the future.</h1>
        <p class="lead">We were the first in the category, the first to introduce automatic, wireless syncing, and the first to provide an open API. Our algorithms have been the benchmark. Even now, when we’ve got industry-leading battery life and the thinnest, lightest GPS + heart rate device on the shelf—we’re still just getting started.</p>
        <a href="#" class="lead-link">View Surge <img src="/static/images/link_arrow.png" /></a>
      </div>
    </div>
  </div>
</div>
