<div class='section_15_background_image'></div>
<div class="section_15_background_overlay"></div>
<div class="cover-container">
  <div class="inner cover">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 slide_content">
        <img src="/static/images/fitbit_logo_image.png" id="logo_image_small" class="logo_image static_main_heading_logo_top" />
        <img src="/static/images/fitbit_logo_light.png" id="logo_image_text" class="heading_logo static_main_heading_logo_top" />
        <p class="lead video_lead">On the walk to work, at the weight room or in the last mile.</p>
          <p class="lead video_lead">Somewhere between first tries and finish lines.</p>
          <p class="lead video_lead">Pillow fights and pushing limits. That’s where you find fitness.</p>
          <p class="lead video_lead">Every moment matters and every bit makes a big impact. Because
          fitness is the sum of your life. That’s the idea Fitbit was built on—that
          fitness is not just about gym time. It’s all the time.</p>
          <p class="lead video_lead">How you spend your day determines when you reach your goals.
          And seeing your progress helps you see what’s possible.</p>
          <p class="lead video_lead">Seek it, crave it, live it.</p>
        </div>
      </div>
  </div>
</div>
